*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 2rem;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness:0.5rem ;
}

nav{
    position: sticky;
    background-color: #1b1b1bf1;
    margin-top: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: left; 
    padding-left: 3rem;
    border-bottom: white solid;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 1.5rem;
    font-family: fantasy;
    padding-top:none ;
}

nav a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset:0.5rem;
    text-decoration-thickness: 0.5rem;
}

#overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000f1;
    display: none;
    z-index: 1;
}

#searchbar{
    position: absolute;
    margin-top: 3rem;
    margin-bottom: 2rem;
    left: 35%;
    text-align: center;
    display: none;
    z-index: 2;
}

#searchbar input{
    border-radius: 1.5rem;
    height: 3rem;
    width: 25rem;
    text-align: center;
    background-color:  #1b1b1bf1;
    font-size: 1.2rem;
    border: solid white 0.15rem;
    font-family: fantasy;
    color: white;
    margin-right: 1rem;
}

nav ::placeholder{
    font-family: serif;
    font-style: italic;
    font-weight: lighter;
    color: #808080a9;
    padding-bottom: 2rem;
}

#exit-arrow{
    width: 4rem;
    height: auto;
    margin: 1rem;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    display: none;
}

#search-icon{
    background: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-right: 1.5rem;
}

#cart{
    padding-top: 0.5rem;
    height:auto;
    width:2rem;
}

#logo{
  font-family: fantasy;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.current{
    color: gray;
    text-decoration: underline;
    text-underline-offset:0.5rem;
    text-decoration-thickness: 0.5rem;
}


