* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    position: fixed;
    background-color: #1b1b1bf1;
    margin-top: 0;
    width: 100%;
    padding-bottom: 1rem;
    text-align: left; 
    padding-left: 3rem;
    border-bottom: white solid;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 1.5rem;
    font-family: fantasy;
    padding-top:none ;
}

nav input{
    border-radius: 0.8rem;
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 0.5rem;
    background-color:  #1b1b1bf1;
    font-size: 1.2rem;
    border: solid white 0.15rem;
    font-family: fantasy;
    color: white;
    margin-right: 1rem;
}

nav ::placeholder{
    font-family: serif;
    font-style: italic;
    font-weight: lighter;
    color: #808080a9;
    padding-bottom: 2rem;
}

nav a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset:1rem;
    text-decoration-thickness: 0.5rem;
}

#cart{
    padding-top: 0.5rem;
    height:auto;
    width:2.5rem;
}

#logo{
  font-family: fantasy;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}